@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .roomcard {
    @apply h-[19rem] w-[19rem];
  }
}

/* Custom scrollbar hiding */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}
