{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": false,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "parser": "typescript",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto"
}
